

/* <-- Views --> */
#viewManager {
    flex: 1;
    padding: 0;
}

.is-view {
    height: 100%;
    display: none;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.is-view.current-view {
    display: block;
    width: 100%;
}

/* <-- Views --> */
.is-view[data-name="Search"],
.is-view[data-name="Loading"] {
    justify-content: center;
    align-items: center;
}

.is-view.current-view[data-name="Results"] {
    display: block ;
}

/* Result card */
.result {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem;
    background: var(--back-accent);
}